{% extends "base.html.twig" %}
{% block title 'Accueil' %}
{% block body %}
<div class="jumbotron">
<h1>Home Page</h1>
<p>Lorem Elsass ipsum ornare aliquam blottkopf, picon bière chambon Gal ! hopla Huguette wie hoplageiss hopla messti de Bischheim mollis sed Strasbourg amet, schneck placerat Coopé de Truchtersheim kuglopf rucksack porta hop nullam yeuh. eget Heineken kartoffelsalad baeckeoffe auctor, amet tristique bredele Carola gal varius nüdle vielmols, consectetur ac Miss Dahlias tellus sit dolor knepfle Chulia Roberstau Salu bissame DNA, Pellentesque commodo Mauris wurscht Oberschaeffolsheim quam, flammekueche et senectus so kougelhopf turpis sit pellentesque ullamcorper semper geht's elementum libero. Verdammi eleifend purus mänele réchime ftomi! und Spätzle Kabinetpapier Chulien ante barapli gravida jetz gehts los s'guelt rossbolla  risus, Gal. météor tchao bissame Hans leo non dui id, leverwurscht Christkindelsmärik quam. libero, mamsell Richard Schirmeck schnaps suspendisse hopla habitant munster Yo dû. salu Wurschtsalad ch'ai hopla bissame Racing. id sagittis tellus amet in, lacus rhoncus merci vielmols ac non condimentum turpis, sit elit vulputate ornare lotto-owe geïz gewurztraminer Pfourtz ! Morbi sed Oberschaeffolsheim dignissim Salut bisamme morbi leo knack libero, schpeck adipiscing</p>
</div>
<div class="container">
  <h2>Les derniers biens</h2>
  <div class="row flex">
    {% for property in properties %}
      <div class="col-3">
        <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ path('property.show', {id:property.id, slug:property.slug}) }}">{{ property.title }}</a>
          </h5>
          <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
          <div class="text-primary" style="font-weight:bold; font-size: 2rem;">{{ property.getFormattedPrice }} €</div>
        </div>
        </div>
      <div>
    {% endfor %}
  </div>
</div>
{% endblock %}
